<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Greeting page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class = "startpage">

    <div class="card">
        <h1>Köpük Naz Handbook</h1>
        <p>Greatest Sir Köpük Naz</p>
        
        <a href="/basics" class="btn">Basics</a>
        <a href="#" class="btn">Advanced</a>

        <div class="subscription-section">
            <p class="subscription-form-paragraph">Get notified about updates!</p>
            <form action="/subscribe" method="POST" class="subscription-form">
                <input type="email" name="email" placeholder="Enter your email address" required>
                <button type="submit" class="btn">Notify Me</button>
            </form>
        </div>
    </div>

</body>
</html>